<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>书单列表</title>

    <!-- Bootstrap -->
    <!-- thymeleaf加载模板的时候不会识别../,所以需要引入thymeleaf的特定样式
         @{/} 其中/代表static -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container" style="max-width: 700px">
        <h2 class="page-header">书单列表</h2>
        <!-- thymeleaf判断参数是否为空${#strings.isEmpty()};引入strings类,调用其中的方法isEmpty() -->
        <div class="alert alert-success alert-dismissable fade in" th:unless="${#strings.isEmpty(message)}">
            <!-- data-dismiss="alert" 会关闭弹出框 -->
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <span th:text="${message}">成功</span>
        </div>
        <p class="text-right"><a href="add.html" th:href="@{/web/books/add}" class="btn btn-primary">新增</a></p>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>描述</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- 迭代 th:each
                    其中book代表句柄
                    iterStat代表索引项
                        count:计数(从1开始)
                        index:索引(从0开始)
                        size:大小
                        even:偶数(返回boolean)
                        odd:奇数(返回boolean)
                        first:第一条(返回boolean)
                        last:最后一条(返回boolean)

                        分页之后替换为pages.content-->
                <tr th:each="book,iterStat:${pages.content}" th:class="${iterStat.even}? 'bg-success'">
                    <td th:text="${iterStat.count}">#</td>
                    <!-- 点击书名查看详情页 url
                        两种方式-->
                    <!--<th th:text="${book.name}">书名</th>-->
                    <!--<th><a href="#" th:text="${book.name}" th:href="@{/web/books/{id}(id=${book.id})}">书名</a></th>-->
                    <td><a href="#" th:text="${book.name}" th:href="@{'/web/books/'+${book.id}}">书名</a></td>
                    <td th:text="${book.author}">作者</td>
                    <td th:text="${book.description}">描述</td>
                    <td th:switch="${book.status}">
                        <span th:case="0">未读</span>
                        <span th:case="1">在读</span>
                        <span th:case="2">已读</span>
                    </td>
                    <td><a href="#" th:href="@{'/web/books/'+${book.id}+'/edit'}">更新</a>
                        <a href="#" th:href="@{'/web/books/'+${book.id}+'/delete'}">删除</a></td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <!-- 两种替换href的方式
                    th:unless="${pages.first}"---如果显示的是第一页的内容,则不显示上一页的页签
                    th:unless="${pages.last}"---如果显示的是最后一页的内容,则不显示下一页的页签
                 -->
                <li class="previous"><a href="#" th:href="@{'/web/books?page='+${pages.number-1}}" th:unless="${pages.first}">上一页</a></li>
                <li class="next"><a href="#" th:href="@{/web/books(page=${pages.number+1})}" th:unless="${pages.last}">下一页</a></li>
            </ul>
        </nav>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>